extends layout
link(rel='stylesheet', href='/stylesheets/style.css')
block content
  body
  p #{ordering}
    div.wrapper
      div.container
        div#two-columns.grid-container(style='display:block;')
          ul.rig.columns-4
            each image in images
              li
                img(src="https://s3.amazonaws.com/supercuber.images/#{image.source}" name="original")
                span
                  form(method="POST" action="/view/#{image._id}")
                    input(type="image" src="https://s3.amazonaws.com/supercuber.images/#{image.source}" name="bigImage" width="340")
                    input(type="hidden" name="image_ids" value="#{image_ids}")
        div.paginate
          -  for(var i=1;i< 5;i++){
             div.button-link
               a(href="?page=#{i}") #{i}
               form(method="POST" action="?page=#{i}")
                 input(type="hidden" name="ordering" value="#{ordering}")
          -  }
