extends layout

block content
  body
    div.image_display
      img(src="https://s3.amazonaws.com/supercuber.images/#{chosen}" width="1250")
    #image_info
      h2 Image Name: #{chosen}
      h2 Image Score: #{score}
      h2 Id array: #{id_array}
      #width
      #height  
      #resolution
      #download
        p
          a(href="https://s3.amazonaws.com/supercuber.images/#{chosen}" download="wallpaper_image") Download link
      script.
        document.getElementById("width").textContent="Your resolution:" + window.screen.availWidth + " x " + window.screen.availHeight;
